body {
  background-image: url("bg.jpg");
  background-repeat: repeat;
  font-family: 'DM Sans', sans-serif;
}

h1 {
  color: #e8e8e4;
  font-weight: 700;
}

.container {
  max-width: 700px;
}

.link {
  border: 2px solid #e8e8e4;
  background-color: #e8e8e4;
}
.link a {
  text-decoration: none;
  color: #264653;
}
.link:hover {
  background-color: transparent;
  border-color: #e8e8e4;
}
.link:hover a {
  color: #e8e8e4;
}

